html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-style: normal;
  font-family: Roboto, sans-serif;
  background-color: $main-background;
}

h1 {
  @include font(4.5rem, 700, 5.3rem);
  color: $main-color;
}

h3 {
  @include font(3.2rem, 700, 3.8rem);
  color: #000000;
}
p{
  @include font(1.6rem, 400, 2.1rem)
}
.quote{
  @include font(1.4rem, 400, 1.7rem, italic)
}