.layout-3-columns{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.layout-2-columns{
  display: flex;
  justify-content: space-between;
}
.layout-5-columns{
  display: flex;
  justify-content: space-between;
}