.layout-3-columns{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.layout-2-columns{
  display: flex;
  justify-content: space-between;
  &_vertical{
    flex-direction: column;
    align-items: center;
  }
}
.layout-5-columns{
  display: flex;
  justify-content: space-between;
}
.layout-6-columns{
  display: flex;
  justify-content: space-between;
  &>*{
    width: 16%;
  }

  margin-bottom: 16px;
}