$content-width: 1440px;
$notebook-width: 1024px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-medium-width: 375px;
$mobile-small-width: 320px;

$light-color: rgba(130, 130, 130, 1);
$main-color: rgba(71, 152, 227, 1);
$main-gradient: rgba(71, 152, 227, 0.57);
$main-background: #F5F5F5;
$main-fill: #D9D9D9;
$p-color: #333B41;
$light-fill: #EAF1F6;

$gradient-block: linear-gradient(102.11deg, #4596E0 5.82%, #1F6DB5 85.91%);
