.button{
  width: 298px;
  height:54px;
  background: linear-gradient(113.96deg, #0080F7 1.49%, #05396A 101.44%);
  box-shadow: 0 5px 12px 2px rgba(0, 102, 255, 0.25);
  border-radius: 5px;
  color: #F5F5F5;
  outline: none;
  border: none;
  display: inline-block;
}