.navigation {
  margin: 42px auto 20px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navigation__link {
  a {
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    color: $light-color;

    &:hover {
      color: $main-color;
    }
  }
}