.swiper {
  width: 100%;
  height: auto;
}

.swiper-button-prev {

}

.swiper-slide {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  .video_block {
    width: 85%;
  }
}

.swiper-slide.feedbacks {
  flex-direction: column;
}

.flexible-column {
  display: flex;
  width: 85%;
  justify-content: space-between;
  align-items: center;

  .video_block {
    width: 22%;
  }
}
.feedbacksSwiper{
  margin-bottom: 30px;
}