#about-me .wrapper {
  margin-bottom: 75px;
}

#about-me .layout-2-columns {
  position: relative;
  height: 389px;
}

#about-me .list{
  margin-bottom: 17px;
}

#about-me {
  .transformed {
    bottom: 29%;
    left: 133px;
  }
  .portrait {
    background-image: url("../../src/img/about/partrait.png");
  }

  .description {
    h2 {
      @include font($size: 4.8rem, $height: 120%, $weight: 600);
      margin-bottom: 17px;
    }
  }
}