#documents{
  .wrapper{
    margin-bottom: 150px;
  }
  h4{
    margin-bottom: 58px;
  }
  .layout-2-columns{
    background: $light-fill;
    padding: 22px;
  }
  .description{
    width: 298px;
    margin-right: 20px;
  }
  .quote{
    margin-top: 100px;
  }
  .image{
    display: flex;
  }
}