#faq {
  .wrapper{
    margin-top: 150px;
    margin-bottom: 126px;
  }
  h4{
    margin-bottom: 0;
  }
  h5 {
    @include font(3rem, 400, 3.6rem);
    color: $light-color;
    text-align: center;
  }
}