footer {
  padding-top: 35px;
  padding-bottom: 135px;
  border-top: 1px solid #000000;

  .layout-3-columns {
    justify-content: center;
  }
  .pfr, .y-method{
    margin-right: 26px;
  }

  p {
    @include font(1.4rem, 400, 1.6rem);
  }
  .address{
    margin-top: 14px;
  }
}