#pf_r-dub {
  .wrapper {
    margin-bottom: 150px;
  }

  h1 {
    span {
      @include font(3rem, 700, 3.6rem);
    }
  }
}

#pf_r-dub-about-course {
  .layout-2-columns {
    margin-bottom: 117px;
  }

  .transformed {
    bottom: 27%;
    left: 144px;
  }

  .portrait {
    background-image: url("../../src/img/about/partrait.png");
  }

  .description {
    h2 {
      @include font($size: 4.8rem, $height: 120%, $weight: 600);
      margin-bottom: 17px;
    }
  }
}

