#video-feedbacks{
  .wrapper{
    margin-top: 142px;
    margin-bottom: 56px;
  }
  .transformed {
    bottom: 27%;
    left: 135px;
  }
  .layout-2-columns {
    margin-bottom: 117px;
  }
  .portrait {
    background-image: url("../../src/img/feedbacks/portrait.png");
  }
  .description {
    p{
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .quote{
      margin-top: 150px;
    }
  }
}